$header-background: #31373f;
$green_button: #67c288;
$green_button_hover: #2fc265;
$green_button_active: #74db9a;
$gray_button: #4b5664;
$gray_button_hover: #2f363e;
$block_border: #e8eaee;
$green: #4fb182;
$black: #323232;
$blue: #4993c5;
$white: #fbfbfc;
$disabled: #d6d6d6;
$label: b4b4b4;
$off_white: #b5b5b5;
$gray: #cccccc;